modules = ["nodejs-20", "bash", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 45082696
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build:server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
